.shop{
    padding: 50px 0;
    
}
.shop-margin{
    margin-top: 10px;
    margin-bottom: 20px;
}
.shop-items{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.single-shop{
    margin: 0 5px;
}
.single-shop img{
    max-width: 100%;
    cursor: pointer;
    opacity: 0.9;
    transition: opacity .5s;
    transition: transform .5s;
}
.single-shop img:hover{
    opacity: 1;
    transform: scale(1.2);
}

@media (max-width: 768px){
    .shop-items{
        grid-template-columns: auto auto auto ;
    }
    .single-shop{
        margin:5px;
    }
}
@media (max-width: 650px){
    .shop-items{
        grid-template-columns: auto auto ;
    }
    .single-shop{
        margin:5px;
    }
}
@media (max-width: 500px){
    .shop-items{
        grid-template-columns:auto;
        text-align: center;
    }
    .single-shop{
        margin:5px;
    }
}
