.mobile-list{
    width: 230px;
    border: 1px solid #808080;
    display: none;
    background-color: blueviolet;
    position: absolute;
}
.mobile-menu-header{
    background-color: aqua;
    padding: 10px;
}
.mobile-menu-icon{
    font-size: 30px;
    margin-right: 50px;
}
.mobile-logo-icon{
    width: 198px;
}
.mobile-menu-list{
    padding: 7px;
}
.mobile-menu-list-item{
    list-style-type: none;
    margin: 16px 0;
}
.mobile-menu-list-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.mobile-menu-list-link-small{
    text-decoration: none;
    color: black;
}

@media screen and (max-width:682.20px) {
    .mobile-list{
        display: block;
    }
}
@media screen and (max-width:165px) {
    .mobile-list{
        top:100px ;
    }
}
